<!DOCTYPE html>
<html>
    <head th:replace="template :: head">
    </head>
    <body>
        <header>
            <title>Dental Esquivel - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </header>
        <div class="main">
            
            <div class="contenido d-flex flex-column align-items-center justify-content-center py-5 overflow-auto">
                <div class="w-50 text-center fst-italic fw-light fs-4 mt-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu bibendum tristique ut orci aliquet elementum vel sed tristique. In sed in sed cras nulla tellus ornare id. Molestie pellentesque nunc interdum suscipit. Adipiscing purus nisl felis, morbi curabitur ridiculus.
                </div>
                <div class="w-25 text-center my-5">
                    <img class="img-fluid rounded-circle" src="images/Bienvenida.jpg">
                </div>
            </div>
        </div>
    </body>
</html>
